/vendor/
/var/
/.phpunit.result.cache
/.php-cs-fixer.cache
.idea/
/.opcache

vendor
.agents
.php-cs-fixer.cache
.phpunit.result.cache
AGENT.md

.DS_Store

## Composer
composer.lock

## Phpunit
.coverage/
.phpunit.xml
.phpunit.cache

## Infection
infection.log
infection.html

## Box
bin/twig-cs-fixer.phar
.twig-cs-fixer.cache