<h1>Main</h1>
<h3>Jumped</h3>

<div id="dup">First</div>
<span id="dup">Second</span>

<a href="#" title=""> </a>
<a href="#">No name</a>

<div role="foo">Bad role</div>
<div role="bar">Also bad</div>
